body{
  color: hsl(235, 18%, 26%);
  background-color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
button{ 
  position:absolute;
  bottom: 60px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: 700;
  width: 355px;
  height: 60px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}
img{
  padding: 40px 0px 10px 0px;
}
.container{
  position: fixed;
  width: 400px;
  height: 460px;
  background-color: white;
  border-radius: 40px ;
  padding-left: 50px;
}
.title{
  margin: 20px 0px;
  line-height: 45px;
  font-size: 50px;
  font-weight: 700;
}
.confirmationText{
  width: 320px;
  color:hsl(235, 18%, 26%);
  font-size: 14px;
  line-height: 20px;
  /* display: inline-block; */
}
.confirmationText p{
  margin: 0px;
  display: inline;
}
#inputEmail{
  font-weight: 700;
}